<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jeko.climberbux">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".data.ClimbersProvider"
            android:authorities="com.example.jeko.climberbux"
            android:exported="false" />

        <activity
            android:name=".ClimbersActivity"
            android:label="@string/climbers"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".EditorActivity"
            android:label="@string/edit_climber_title"
            android:parentActivityName=".ClimbersActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".EditorTrainingActivity"
            android:label="@string/training_on_date"
            android:parentActivityName=".OnDatesActivity">
        </activity>
        <activity
            android:name=".TrainingActivity"
            android:label="@string/training"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".OnDatesActivity"
            android:label="@string/training_on_dates"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".IncomeActivity"
            android:label="@string/sum_of_income"
            android:parentActivityName=".MainActivity"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/action_settings"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.jeko.climberbux.MainActivity"/>
        </activity>
    </application>

</manifest>